<%= content_for :body do %>
  <% if logged_in? %>
    <div class="alert alert-success">
      Welcome <%= current_user.username %>
    </div>
  <% end %>
  <% if flash.any? %>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "alert alert-#{key}" %>
    <% end %>
  <% end %>
  <h1>Jobs List</h1>
  <%= render @jobs %>
<% end %>
